body {
    background-color: oldlace;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: saddlebrown;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#recipes {
    padding: 15px;
    margin-left: 55px;
    margin-right: 55px;
    list-style: none;
}

#recipes li {
    background-color: floralwhite;
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
    padding: 20px;
}

#recipes h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#recipes img {
    width: 50%
}

#recipes a {
    text-decoration: none;
    color: saddlebrown;
}

header {
    display: flex;
    align-items: center;
    color: rgba(177, 145, 119);
    font-family: 'Lucida Handwriting';
    border-bottom: 2px solid saddlebrown;
}

header img {
    height: 70px;
    width: 90px;
}

#search {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 15px;
  background-color: rgba(177, 145, 119, 0.515);
}

#searchInput {
  width: 380px;
  padding: 12px;
  font-size: 13px;
  border-radius: 15px;
  border-color: transparent;
  color: saddlebrown;
}

#search button {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 20px;
}

#searchInput:focus {
  outline: none;
  box-shadow: none;
}

#filter {
    display: flex;
    justify-content: right;
    gap: 8px;
    background-color: rgba(177, 145, 119, 0.515);
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

#filter button {
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    color: white;
    border-width: 1px;
}

select {
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border-color: transparent;
  color: rgba(117, 117, 117);
}

label {
    font-size: 13px;
}


.recipeInfo {
    font-size: 13px;
    color: rgba(177, 145, 119);
    margin: 8px;
}

.recipeInfo h4 {
    color: saddlebrown;
    font-weight: bold;
    display: inline;
}

.recipeInfo img {
    width: 50%;
}

footer {
    background-color: rgba(177, 145, 119, 0.515);
    padding: 25px;
    border-bottom: 2px solid saddlebrown;
}

#logoTitle {
    color: #61402f;
}

header a {
    text-decoration: none;
}

header a,
header a h1 {
    text-decoration: none;
}

#recipes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#recipes img {
    width: 100%;
}

#recipeDetails img, #recipe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
    width: 50%;
}

#recipe img {
    margin-top: 2%;
}

#recipeDetails, #recipe {
    padding: 15px;
    margin-left: 55px;
    margin-right: 55px;
    list-style: none;
}

#recipeDetails li, #recipe li {
    background-color: floralwhite;
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
    padding: 20px;
}

#recipeDetails h2, #recipe h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#recipeDetails h4, #recipe h4 {
    margin-bottom: 5px;
}

#recipeDetails pre, #recipe pre {
    white-space: pre-wrap;
    font-family: inherit;
}

#recipeDetails p, #recipe p {
    font-size: 13px;
    color: rgba(177, 145, 119);
}

#infoText {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

#logoutButton {
    float: right;
}

.buttons {
    background-color: transparent;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    color: saddlebrown;
    padding: 5px 10px;
}

.buttons:hover {
    background-color: saddlebrown;
    color: wheat
}

#newRecipeDifficulty, #newRecipeCategory{
    all: revert;
}

#newRecipeSection,
#editRecipeSection {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: floralwhite;
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
}

#recipeHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

.draftRecipes,
.publishedRecipes {
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
    padding: 15px;
    margin-bottom: 15px;
    background-color: floralwhite;
}

.draftRecipes a {
    text-decoration-style: dashed;
    color: rgba(139, 69, 19, 0.584);
}

.publishedRecipes a {
    text-decoration: underline;
    color: rgba(139, 69, 19, 0.584);
}


#loginForm,
#signupForm {
    background-color: floralwhite;
    border: solid 1px;
    border-color: rgba(177, 145, 119, 0.615);
    padding: 20px;
    width: 40%;
    margin: 20px auto;
}

.editbuttons {
    display: flex;
    justify-content: space-between;
}

.editbuttons button {
    background-color: transparent;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    color: saddlebrown;
    padding: 5px 10px;
}

.editbuttons button:hover {
    background-color: saddlebrown;
    color: wheat
}

#cancelAdd, #cancelEdit{
    float: right;
}